<p><a [href] = "behaviorSubject"><b>BehaviorSubject</b></a> - наследуется от Subject, хранит последнее отправленное значение подписчику, т.
  е. в момент следующей подписки подписчику будет направлено это значение.</p>
<div><b>Методы и свойства BehaviorSubject:</b>
  <ul>
    <li><i>value: T</i> - чтение, хранит последнее отправленное значение;</li>
    <li><i>getValue(): T</i> - метод, возвращает последнее отправленное значение;</li>
    <li><i>next(value: T): void</i> - метод, в который передается значение.</li>
  </ul>
</div>
