<p><a [href] = "generative"><b>Порождающие операторы</b></a> - это функции которые возвращают новый Observable, имеющий какое-то
  определенное поведение:</p>
<ul>
  <li><app-ajax></app-ajax></li>
  <li><app-defer></app-defer></li>
  <li><app-from></app-from></li>
  <li><app-of></app-of></li>
  <li><app-from-event></app-from-event></li>
  <li><app-generate></app-generate></li>
  <li><app-interval></app-interval></li>
  <li><app-timer></app-timer></li>
  <li><app-range></app-range></li>
  <li><app-throw-error></app-throw-error></li>
  <li><app-iif></app-iif></li>
</ul>
<p><a [href] = "unionGenerative"><b>Объединение порождающих операторов</b></a> - это функции, которые объединяют результаты нескольких
  Observable в один:</p>
<ul>
  <li><app-combine-latest></app-combine-latest></li>
  <li><app-fork-join></app-fork-join></li>
  <li><app-concat></app-concat></li>
  <li><app-merge></app-merge></li>
  <li><app-partition></app-partition></li>
  <li><app-race></app-race></li>
  <li><app-zip></app-zip></li>
</ul>
<!--<p><a [href] = ""><i> </i></a> - .-->
<!--  <button (click)="()">()</button>-->
<!--</p>-->
