<p><a [href] = "operators"><b>Порождающие операторы</b></a> - это функции для создания нового объекта Observable:</p>
<ul>
  <li><app-ajax></app-ajax></li>
  <li><app-defer></app-defer></li>
  <li><app-from></app-from></li>
  <li><app-of></app-of></li>
  <li><app-from-event></app-from-event></li>
  <li><app-generate></app-generate></li>
  <li><app-interval></app-interval></li>
  <li><app-timer></app-timer></li>
  <li><app-range></app-range></li>
  <li><app-throw-error></app-throw-error></li>
  <li><app-iif></app-iif></li>
</ul>
<!--<p><a [href] = ""><i> </i></a> - .-->
<!--  <button (click)="()">()</button>-->
<!--</p>-->
