<p><a [href] = "this.Observable">Observable</a> - класс, представлен библиотекой RxJS, которая позволяет управлять асинхронными операциями,
  событиями в стиле реактивного программирования(ориентироваться на потоки данных и распространение изменений). new Observable() принимает
  только один аргумент и это функция subscribe, а аргументом является возвращаемый объект типа Subscriber который наследуется от класса
  Subscription. Преимущество объектов Observable в том, что они могут передавать данные множество раз в разные моменты времени множеству
  "потребителей". RxJS оперирует объектами Observable(Наблюдаемый), которые существуют в нескольких разновидностях (Subject, Scheduler) и
  реализуют принципы: <u>push-систем</u> - передача данных от "поставщика" к "потребителю"; <u>pull-системы</u> - "потребитель" решает,
  когда получить данные от "поставщика". В контексте приложений Angular RxJS применяется для выполнения HTTP-запросов, отслеживания событий
  браузера или создания событий пользователем. Объекты RxJS Observable создаются либо с использованием порождающих операторов, либо
  через new Observable(). Исполнение Observable начнется только после вызова метода на нем subscribe()(подписаться).</p>

<!--<div>-->
<!--  <p><u>Методы Observable</u>:</p>-->
<!--  <ul>-->
<!--    <li><i>subscribe(next(value: any) => void, error?(error: any) => void, complete?() => void): Subscription</i> - исполнение Observable,-->
<!--      которое начинается с подписки на стрим, в котором при помощи колл-бэков получаем значение переданное в теле функции subscribe. Вторым-->
<!--      и третьим необязательными параметрами методу subscribe() можно передать функции, которые будут вызваны в случае ошибки и/или)-->
<!--      завершения Observable;-->
<!--    </li>-->
<!--    <li><i>pipe(operator())</i> - вызывается у объекта Observable, а операторы передаются ему в качестве аргументов через запятую в порядке-->
<!--      их вызова.-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
