<p><a [href] = "this.Subscriber">Subscriber</a> - класс, наследуется от класса Subscription, который возвращает функция subscribe
  переданная в качестве аргумента класса Observable. функция реализует три метода для отправки данных.</p>

<!--<div>-->
<!--  <p><u>Методы</u>:</p>-->
<!--  <ul>-->
<!--    <li><i>next(value?: any): void</i> - отправка данных в метод subscribe() экземпляра класса Observable, количество вызовов не-->
<!--      ограничено;</li>-->
<!--    <li><i>error(error?: any): void</i> - генерация ошибки, параметром указываются данные любого формата (строка, объект, исключение) о-->
<!--      причине ее возникновения. Важно заметить, что после вызова Error или Complete, никакие ниже идущие инструкции не возымеют-->
<!--      никакого эффекта. Стоит упомянуть что конструкция try/catch не нужна, даже если произойдет ошибка или исключение, она все равно-->
<!--      попадет в «Error»;</li>-->
<!--    <li><i>complete(): void</i> - завершение исполнения Observable, не принимает никаких параметров и не передает никакого значения.</li>-->
<!--  </ul>-->
<!--</div>-->
