<p><a [href] = "this.operators">Operators</a> - это важные части, которые позволяют легко декларативно составлять сложный асинхронный код.
  Существуют операторы для разных целей, и их можно разделить на следующие категории: создание, преобразование, фильтрация, объединение,
  многоадресная рассылка, обработка ошибок, утилита и т. д. Операторы - это функции. Есть два типа операторов:
</p>
<ul>
  <li><i>Конвейерные(Потоковые) операторы</i> - это операторы , которые могут быть переданы в Observables с помощью синтаксиса
    observableInstance.pipe(operator()). К ним относятся filter(...), и mergeMap(...). При вызове они не изменяют существующий экземпляр
    Observable. Вместо этого они возвращают новый Observable, логика подписки которого основана на первом Observable. Оператор конвейера
    - это функция, которая принимает на вход Observable и возвращает другой Observable. Это чистая операция: предыдущий Observable остается
    неизменным. Оператор конвейера - это, по сути, чистая функция, которая принимает один Observable в качестве входных данных и генерирует
    другой Observable в качестве выходных данных. Подписка на вывод Observable также подпишется на ввод Observable.</li>
  <li><i>Операторы создания(порождающие)</i> - это операторы возвращают новый Observable, имеющий какое-то определенное поведение.
    of(1, 2, 3) создает Observable, который отправит 1, 2, 3 один за другим.</li>
</ul>
