<p><a [href] = "this.Subject">Subject</a> - класс, наследуется от класса Observable. Subject является разновидностью объектов Observable.
  Особенность Subject в том, что он может отправлять данные одновременно множеству "потребителей", которые могут регистрироваться уже в
  процессе исполнения Subject, в то время как исполнение стандартного Observable осуществляется уникально для каждого его вызова. Каждый
  Subject одновременно является и наблюдаемым объектом (Observable) и наблюдателем (Observer) поэтому реализует как метод subscribe для
  получения данных, так и методы next(v), error(e) и complete() для отправки данных. Обработчики исполняются не сразу в момент вызова
  subscribe(), а после обращения к методам next(), error() или complete() самого объекта. Subject по умолчанию являются бесконечно
  исполняемыми, так как заранее неизвестно, когда будет вызов complete()и будет ли он вызван вообще. Поэтому не стоит забывать про
  unsubscribe(). Так как Subject может выходить в роли Наблюдателя, это означает что вы можете как аргумент метода subscribe передать
  Subject. </p>
