<p><a [href] = "this.Subscription">Subscription</a> - класс, экземпляр данного класса возвращает метод subscribe() класса Observable.
  Вызов unsubscribe() нужен только для бесконечно исполняемых Observable, иначе занимаемые ими ресурсы будут освобождены только с окончанием
  работы всего приложения. А значит в процессе работы программы может произойти утечка памяти или могут быть созданы ненужные дублирующиеся
  "потребители". Бесконечно исполняемыми Observable считаются те из них, которые никогда не вызывают метод complete(), даже если у них
  предусмотрен сценарий, при котором произойдет обращение к error(), что также завершит исполнение.</p>

<!--<div>-->
<!--  <p><u>Методы</u>:</p>-->
<!--  <ul>-->
<!--    <li><i>closed: false</i> - флаг, указывающий, была ли уже отменена подписка;</li>-->
<!--    <li><i>unsubscribe(): void</i> - отменяет текущее выполнение Observable;</li>-->
<!--    <li><i>add(teardown: TeardownLogic): void</i> - группирует подписки вместе и присоединит дочернюю подписку к текущей подписке;</li>-->
<!--    <li><i>remove(teardown: Subscription | Unsubscribable | (() => void)): void</i> - удаляет сгруппированные подписки.</li>-->
<!--  </ul>-->
<!--</div>-->
